<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    beStrictAboutChangesToGlobalState="true"
    beStrictAboutCoverageMetadata="true"
    beStrictAboutOutputDuringTests="true"
    bootstrap="vendor/autoload.php"
    cacheDirectory=".phpunit.cache"
    colors="true"
    displayDetailsOnPhpunitDeprecations="true"
    failOnNotice="true"
    failOnRisky="true"
    failOnWarning="true"
>
    <!-- List of files with tests inside -->
    <testsuites>
        <testsuite name="Package Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <!-- List of source files for code coverage checker -->
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
